:root {
  --darkest: #111111;
  --darker: #171717;
  --gap: 1.6rem;
  --footer-height-narrow: 28rem;
  --footer-height-wide: 16rem;
}

/* override browser default */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow: overlay;
}

a {
  text-decoration: none;
  width: max-content;
}

a:visited {
  color: #fff;
}

a:link {
  color: #fff;
}

a:hover {
  color: #55dfaa;
  text-decoration-color: #55dfaa;
  -webkit-text-decoration-color: #55dfaa;
  transition: 0.2s;
}

* {
  max-width: 100%;
}

*::-webkit-scrollbar {
  display: block;
  width: 1.2rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #0000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #0000;
}

*::-webkit-scrollbar-thumb {
  background-color: #7774;
  border: 0.2rem solid #fff4;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #fff4;
  border: 0.2rem solid #7774;
}

/* use viewport-relative units to cover page fully */

body {
  background-color: var(--darkest);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  scrollbar-gutter: stable;
}

.container {
  width: 90vw;
  margin: 0 auto;
  position: relative;
  transition: all ease-in-out 0.1s;
  height: 100%;
}

/* header */

header {
  background-color: var(--darker);
  height: 8rem;
  width: 100vw;
  font-weight: 600;
  padding: 0.8rem 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
/* logo */

.logo{
  width: 100%;
  max-height: 6.4rem;
}

.logo > svg {
    max-height: 6.4rem;
}

.logo .shortLogo {
  display: block;
}

.logo .longLogo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .logo .shortLogo {
    display: none;
  }

  .logo .longLogo {
    display: block;
  }
}

/* close-logo */

/* nav */
header nav {
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

header nav > :first-child {
  width: calc(40% - var(--gap));
}

header nav > :last-child {
  width: 60%;
}

header nav li {
  display: none;
}

header nav a {
  color: #fff;
  font-size: 2rem;
  
  text-transform: uppercase;
  position: relative;
}

header nav a::before {
  content: "";
  display: block;
  height: 0.5rem;
  background-color: #55dfaa;

  position: absolute;
  bottom: -1rem;
  right: 0;
  width: 0%;
  transition: all ease-in-out 0.2s;
  animation-direction: reverse;
}

header nav .active a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.5rem;
  background-color: #55dfaa;
  width: 100%;
  bottom: -1rem;
  right: 0;
}

header nav .closeMenu {
  width: 2rem;
}

header nav .openMenu {
  width: 2rem;
}

header nav li:is(.active, .openMenu){
  display: block;
}

header nav .displayMenu li {
  display: block;
  padding: 0 2rem;
}

header nav .displayMenu li.openMenu {
  display: none;
}

header nav .displayMenu {
  position: fixed;
  width: 20rem;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--darker);
  flex-direction: column;
  justify-content: start;
  text-align: right;
  padding: var(--gap);
}

@media only screen and (min-width: 992px) {
  header nav li:not(.menu, .close) a:hover::before {
    width: 100%;
  }
  
  header nav li {
    display: block;
  }

  header nav li:is(.closeMenu, .openMenu) {
    display: none;
  }
}

/* close-nav */

/* close-header */

/* main */

main {
  padding: 1.6rem 0 calc(var(--footer-height-narrow) + 1.6rem) 0;
}

@media only screen and (min-width: 600px) {
  main {
    padding: 1.6rem 0 calc(var(--footer-height-wide) + 1.6rem) 0;
  }
}

section {
  height: 200px;
}

/* close main*/

/* footer */

footer {
  box-sizing: border-box;
  width: 100vw;
  padding: 1.6rem 0;
  background-color: var(--darker);
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  color: #fff;
  height: 28rem;
}

footer .col {
  width: calc(50% - calc(var(--gap) / 2));
}

footer .socials .col {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  footer {
    height: 16rem;
  }

  footer .socials .col {
    width: calc(50% - calc(var(--gap) / 2));
  }
}

footer img,
footer svg {
  display: inline-block;
  height: 2rem;
  vertical-align: baseline;
}

footer .copy {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
  height: 1.4rem;
}

/* close-footer */