a:hover svg g .firstPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
}

a:not(:hover) svg g .firstPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
}

a:hover svg g .secondPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 25ms;
}

a:not(:hover) svg g .secondPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 25ms;
}

a:hover svg g .thirdPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 50ms;
}

a:not(:hover) svg g .thirdPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 50ms;
}

a:hover svg g .fourthPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 75ms;
}

a:not(:hover) svg g .fourthPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 75ms;
}

a:hover svg g .fifthPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 100ms;
}

a:not(:hover) svg g .fifthPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 100ms;
}

a:hover svg g .sixthPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 125ms;
}

a:not(:hover) svg g .sixthPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 125ms;
}

a:hover svg g .seventhPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 150ms;
}

a:not(:hover) svg g .seventhPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 150ms;
}

a:hover svg g .eighthPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 175ms;
}

a:not(:hover) svg g .eighthPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 175ms;
}

a:hover svg g .ninethPath {
  fill: #55dfaa;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 200ms;
}

a:not(:hover) svg g .ninethPath {
  fill: #fff;
  transition-property: all;
  transition-duration: 75ms;
  transition-delay: 200ms;
}